@import '../../../styles/settings.scss';

.component {
  padding: $base-size;

}

.dateRight {
  margin-left: 35px;
}

.container {
  position: relative;
  padding: 2vh;
  text-align: left;
  color: #444;
}
